<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <h1><a href="/">Contacts</a></h1>
  <h4><a href="/contacts/new">New Contact</a></h4>
    <%= yield %>
  </body>
</html>
